@charset "UTF-8";

.bg {
  width: 100%;
  margin: 0;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("../Assets/appletiesite-bg2.jpg");
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

#aptlogo {
  height: 50px;
  margin-left: 20px;
}

.headermenuitem {
  font-family: "raleway";
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}

.headermenu {
  justify-content: center;
}

.headermenuitem:hover {
  color: #9dbb39;
}

.socialmenu {
  margin-right: 20px;
}

#facebook,
#instagram,
#youtube {
  width: 35px;
  margin-left: 5px;
  margin-right: 5px;
  border-color: #b81af0;
  padding: 5px;
  border-radius: 30px;
  border-width: 2px;
}

#facebook:hover {
  background-color: #9dbb39;
  padding: 5px;
  border-radius: 30px;
}

#instagram:hover {
  background-color: #9dbb39;
  padding: 5px;
  border-radius: 30px;
}

#youtube:hover {
  background-color: #9dbb39;
  padding: 5px;
  border-radius: 30px;
}

.body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-image: url("../Assets/appletiesite-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 2000px;
}

.bannerview {
}
.banner1 {
  padding-top: 40px;
  padding-bottom: 30px;
  background-image: url("../Assets/appletiesite-bg.jpg");
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.banner2 {
  padding-top: 40px;
  padding-bottom: 30px;
  background-image: url("../Assets/bg-show.jpg");
  background-position: top;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.banner3 {
  padding-top: 40px;
  padding-bottom: 30px;
  background-image: url("../Assets/appletiesite-bg.jpg");
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.banner4 {
  padding-top: 40px;
  padding-bottom: 30px;
  background-image: url("../Assets/appletiesite-bg.jpg");
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.titulobox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-family: "raleway";
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  justify-content: center;
}

.titulolinha1 {
  font-family: "bangers";
  font-size: 80px;
  color: #fff;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  justify-content: center;
}

.titulolinha2 {
  font-family: "bangers";
  font-size: 55px;
  color: #154803;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  justify-content: center;
}

.titulolinha3 {
  font-family: "bangers";
  font-size: 38px;
  color: #fff;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  justify-content: center;
}

.bannerconteudoimg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bannerconteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}

.videocapa1 {
}

.videocapa2 {
}

.bannertext {
  display: flex;
  font-family: "raleway";
  margin-top: 15px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  background-color: #0ff;
}
